{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block object-tools %}
    {{ block.super }}
    {# Do NOT place the button here if you want to use response_change! #}
{% endblock %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    
    <div class="submit-row" style="margin-right: 10px;">
        <input type="submit" 
               value="Enviar correo confirmación" 
               name="run_python_script_btn" 
               class="btn btn-secondary" 
        />
    </div>
{% endblock %}