@import "tailwindcss";

/* root */
:root {
    --color-bg-dark: #393228;
    --color-bg-light: #f4ece1;
    --color-text: #fff;
    --color-text-caption: #c8a655;
    --color-text-dark: #393228;

}

.text_dark {
    @apply text-[color:var(--color-text-dark)]
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Montserrat';
    /* font-size: 1.1rem;  */
    
}


/* container */
.container {
    @apply content-center mx-auto p-[12px] md:p-[32px]
}

.start_info {
    @apply bg-[color:var(--color-bg-dark)]/80 absolute ;
    width: 100%;
    pointer-events: all;
    font-family: 'Montserrat', sans-serif;
    height: 8%;
    right: 0;
    bottom: 0;
  }

/* titles */

h2 {
    @apply lg:m-[30px] leading-[35px] font-bold uppercase text-[color:var(--color-text-caption)]
}

h3 {
    @apply  lg:m-[30px] leading-[35px] font-bold uppercase text-[color:var(--color-text)]
}

.nav-link {
    @apply text-[color:var(--color-text)] text-lg font-bold duration-300
}

.nav-link:hover {
    @apply text-[color:var(--color-text-caption)];
}

/* polygon */
.room_bg {
    @apply  right-0 xl:[-webkit-clip-path:polygon(10%_0%,100%_0%,100%_100%,10%_100%,0%_86%)] xl:[clip-path:polygon(10%_0%,100%_0%,100%_100%,10%_100%,0%_10%)]
}

.room_bg_right {
    @apply left-0 [-webkit-clip-path:polygon(10%_0%,100%_0%,100%_100%,10%_100%,0%_86%)] [clip-path:polygon(0%_0%,90%_0%,100%_10%,90%_100.00%,0%_100%)]
}

.form_bg {
    @apply left-0 [-webkit-clip-path:polygon(10%_0%,100%_0%,100%_100%,10%_100%,0%_86%)] [clip-path:polygon(0%_0%,90%_0%,100%_10%,90%_100.00%,0%_100%)] bg-[color:var(--color-bg-dark)]
}

/* buttons */
.core_button {
    @apply bg-[color:var(--color-text-caption)] text-[color:var(--color-bg-dark)] uppercase p-[15px] text-center text-sm font-bold cursor-pointer
}
.button_dissabled {
    @apply bg-gray-600 text-[color:var(--color-bg-light)] uppercase p-[15px] text-center text-sm font-bold cursor-pointer
}